@model RetroReview.Web.Models.MyReviewVM
@{
    ViewBag.Title = "MyReviews";
}
<h2>MyReviews</h2>

<h2 style="color:azure">My Reviews</h2>

<div class="container; panel" style="background-color:transparent">
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("contributor"))
    {
        <a class="btn btn-primary col-md-1" role="button" href="~/Contributor/Addreview">Add Review</a>
    }
    <table class="table table-striped table" style="background-color:#483d8b">
        <thead style="background-color:#ff8c00">
            <tr>
                <th align="left">Review/Link</th>
                <th align="center">Date of Review</th>
                <th align="center">Game Title</th>
                <th align="center">Game Platform</th>
                <th align="center">Author</th>
                <th align="center">Rating</th>
                <th align="center">Release Date</th>
            </tr>
        </thead>
        <tbody>
            @using RetroReview.Models.Models
            @foreach (var review in Model.MyReview)
            {
                <tr style="background-color:#cce3ff">
                    <td class="active" style="background-color:#cce3ff"><a href="~/Reviews/Details/@review.ReviewId"><img style="border:solid thick;  background-color:transparent; color:black" src="~/@review.Game.GameCover.GameCoverUrl" height="100" width="119" alt="Alternate Text" /></a></td>
                    <td class="active" style="background-color:#cce3ff">@review.ReviewDate</td>
                    <td class="active" style="background-color:#cce3ff">@review.Game.GameTitle</td>
                    <td class="active" style="background-color:#cce3ff"><a class="btn btn-default" style="background-color:#483d8b; color:#ff8c00" href="~/Reviews/Platforms/@review.Game.Platform.PlatformName">@review.Game.Platform.PlatformName</a></td>
                    <td class="active" style="background-color:#cce3ff">@review.Author.Name</td>
                    <td style="height: 70px; width: 50px; background-color: #cce3ff;" class="active text-center"><img style="height: 70px; width: 50px; margin-top:15px" src="~/imgs/SiteImgs/@(review.Rating).png" /></td>
                    <td class="active text-center" style="background-color:#cce3ff">@review.Game.ReleaseYear</td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin") || User.IsInRole("contributor") && int.Parse(User.Identity.GetAuthorId().Remove(0,10)) == Model.AuthorId)
                    {
                        <td><a class="btn btn-primary btn-block" role="button" href="~/Contributor/Editreview/@review.ReviewId">Edit</a>  <a class="btn btn-danger btn-block" role="button" href="~/Contributor/Deletereview/@review.ReviewId">Delete</a></td>
                    }
                </tr>}

        </tbody>
    </table>
</div>